
nav.navbar {
  border-top: 4px solid #276cda;

  margin-bottom: 1.5rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.react-pdf__Page__canvas {
  display: inline-flex!important
}
